
*
{
color: blue;
}


body
{
   background-color: blueviolet; 
}


.f
{
  
  max-width: 11%;
  margin-left: 40%;
  padding-left: 4%;
  padding-right: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(193, 241, 170);
  border: rgb(193, 241, 170);
  border-radius: 25px;
}


.button:hover
{
    background-color: lightslategray;
}

.submit:hover
 {
   background-color: lightslategray;
 }